<html>
  <head>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-indigo.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body>

    <div align='center' style='padding:10px'>
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">File</th>
            <th class="mdl-data-table__cell--non-numeric">Published</th>
            <th class="mdl-data-table__cell--non-numeric">Synced</th>
            <th class="mdl-data-table__cell--non-numeric">Draft File</th>
            <th class="mdl-data-table__cell--non-numeric">Production File</th>
            <th class="mdl-data-table__cell--non-numeric">URL</th>
            <th class="mdl-data-table__cell--non-numeric">Marked For Deletion</th>
            <th class="mdl-data-table__cell--non-numeric"></th>
          </tr>
        </thead>
        <tbody data-bind="foreach: files">
          <tr>
            <td data-bind="text: name" class="mdl-data-table__cell--non-numeric"></td>
            <!-- ko if: production.contentLength == 0 -->
            <td class="mdl-data-table__cell--non-numeric">No</td>
            <!-- /ko -->
						<!-- ko if: production.contentLength > 0 -->
            <td class="mdl-data-table__cell--non-numeric">Yes</td>
            <!-- /ko -->
            <!-- ko if: draft.etag != production.etag -->
            <td class="mdl-data-table__cell--non-numeric">No</td>
            <!-- /ko -->
            <!-- ko ifnot: draft.etag != production.etag -->
            <td class="mdl-data-table__cell--non-numeric">Yes</td>
            <!-- /ko -->
            <td class="mdl-data-table__cell--non-numeric">
              <button data-bind="click: $root.openDraft" class="mdl-button mdl-js-button mdl-button--primary">
                Open
              </button>
            </td>
            <td class="mdl-data-table__cell--non-numeric" data-bind="if: production.contentLength > 0">
              <button data-bind="click: $root.openProduction" class="mdl-button mdl-js-button mdl-button--primary">
                Open
              </button>
            </td>
            <td data-bind="text: url" class="mdl-data-table__cell--non-numeric"></td>
            <!-- ko if: isDeleted -->
            <td class="mdl-data-table__cell--non-numeric">
              Yes
              <button data-bind="click: $root.clearDelete" class="mdl-button mdl-js-button mdl-button--primary">
                Undo
              </button>
            </td>
            <!-- /ko -->
            <!-- ko ifnot: isDeleted -->
            <td class="mdl-data-table__cell--non-numeric">No</td>
            <!-- /ko -->
            <td>
              <button id="demo-menu-lower-right" data-bind="click: $parent.edit"
                      class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">edit</i>
              </button>
              <button id="demo-menu-lower-right" data-bind="click: $parent.remove"
                      class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">delete</i>
              </button>
          </tr>
        </tbody>
      </table>
    </div>

    <dialog id="edit" data-bind="with: file" class="mdl-dialog" style="width:50%">
      <h4 class="mdl-dialog__title" data-bind="text: filename"></h4>
      <div class="mdl-dialog__content">
          <input data-bind="event: {change: fileUpload}" type="file" class="fileChooser"/>
      </div>
      <div class="mdl-dialog__actions">
        <button data-bind="click: $parent.cancelEdit" type="button" class="mdl-button">Cancel</button>
        <button data-bind="click: $parent.saveEdit, attr: {disabled: contents() == null}" type="button" class="mdl-button close">Save</button>
      </div>
    </dialog>

    <dialog id="add" data-bind="with: file" class="mdl-dialog" style="width:50%">
      <h4 class="mdl-dialog__title">Add File</h4>
      <div class="mdl-dialog__content">
          <input data-bind="event: {change: fileUpload}" type="file" class="fileChooser"/>
          <br>
          <br>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input data-bind="value: location, event: {focus: $root.labelEvent, input: $root.labelEvent}" class="mdl-textfield__input" type="text" id="location">
            <label class="mdl-textfield__label" for="location">Location</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input data-bind="value: newfilename, event: {focus: $root.labelEvent, input: $root.labelEvent}" class="mdl-textfield__input" type="text" id="filename">
            <label class="mdl-textfield__label" for="filename">Filename</label>
          </div>
      </div>
      <div class="mdl-dialog__actions">
        <button data-bind="click: $root.cancelAdd" type="button" class="mdl-button">Cancel</button>
        <button data-bind="click: $root.saveAdd, attr: {disabled: contents() == null || newfilename() == ''}" type="button" class="mdl-button close">Save</button>
      </div>
    </dialog>

  <div id="error-toast" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>

  <button data-bind="click: add" style="position:absolute;bottom:30px;right:30px" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
    <i class="material-icons">add</i>
  </button>

    <script>
      function File(filename) {
        self = this;
        self.filename = filename;
        self.location = ko.observable('');
        self.newfilename = ko.observable('');
        self.newfiletype = ko.observable('')
        self.contents = ko.observable(null);

        this.fileUpload = function(data, e) {
            var file    = e.target.files[0];
            var reader  = new FileReader();
            self.newfilename(file.name);
            self.newfiletype(file.type);

            e = $( "#filename" )
            value = e[0].value;
            e.parent()[value ? 'addClass' : 'removeClass']('is-dirty');

            reader.onloadend = function (onloadend_e)
            {
               var result = reader.result; // Here is your base 64 encoded file. Do with it what you want.
               self.contents(result);
            };

            if(file)
            {
                reader.readAsDataURL(file);
            }
        };
      }

      function ViewModel() {
        var self = this;
        self.files = ko.observableArray([]);
        self.showDialog = ko.observable(false);
        self.file = ko.observable(null);

        self.remove = function(data) {
          $.ajax("files/" + data.name, {
            type : 'DELETE',
            success: function() {
              self.loadAll();
            }
          })
        }

        self.openDraft = function(data) {
          window.open('files/' + data.name + '/draft');
        }
        self.openProduction = function(data) {
          window.open('files/' + data.name + '/production');
        }

        self.clearDelete = function(data) {
          file = 'files/' + data.name + '/delete-marker'

          $.ajax("/ic/assets/manage/" + file, {
            type : 'DELETE',
            success: function() {
              self.loadAll();
            }
          })
        }

        self.publish = function(data) {
          $.ajax("/ic/assets/manage/publish", {
            type : 'POST',
            success: function() {
              self.loadAll();
            }
          })
        }

        self.labelEvent = function(data, e) {
          value = e.target.value;
          $(e.target).parent()[value ? 'addClass' : 'removeClass']('is-dirty');
        }

        self.cancelEdit = function(data) {
          var dialog = document.querySelector('#edit');
          dialog.close();
        }

        self.edit = function(data) {
          var dialog = document.querySelector('#edit');
          dialog.showModal();
          self.file(new File(data.name));
        }

        self.saveEdit = function(data) {
          data = {}
          data.filename = self.file().newfilename();
          data.contents = self.file().contents();

          $.ajax("/ic/assets/manage/files/" + self.file().filename, {
            data : JSON.stringify(data),
            contentType : 'application/json',
            type : 'PUT',
            success: function() {
              var dialog = document.querySelector('#edit');
              dialog.close();
              self.loadAll();
            }
          })
        }

        self.add = function(data) {
          var dialog = document.querySelector('#add');
          dialog.showModal();
          self.file(new File(''));
        }

        self.cancelAdd = function(data) {
          var dialog = document.querySelector('#add');
          dialog.close();
        }

        self.saveAdd = function() {
          filename = (self.file().location().replace(/^\/*|\/*$/g, '') + '/' + self.file().newfilename()).replace(/^\/*|\/*$/g, '');
          $.ajax("/ic/assets/manage/files", {
            data : JSON.stringify({'file': filename, 'contents': self.file().contents()}),
            contentType : 'application/json',
            type : 'POST',
            success: function() {
              var dialog = document.querySelector('#add');
              dialog.close();
              self.loadAll();
            },
            error: function(r) {
              message = 'Error adding file';
              if (r.status == 400) {
                message = r.responseJSON.error;
              }
              var snackbarContainer = document.querySelector('#error-toast');
              var data = {message: message};
              snackbarContainer.MaterialSnackbar.showSnackbar(data);
            }
          })
        }

        self.loadAll = function() {
          $.getJSON("files", function(response) {
            vm.files(response.payload.data);
          });
        }
      }

      vm = new ViewModel();
      ko.applyBindings(vm);

      vm.loadAll();

    </script>
  </body>
</html>
